/*------------------------------estilos globais------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
/*------------------------------estilos nav_bar------------------------------*/
header{
    background-color:#197BBD;
}

header ul li{
    list-style: none;
}

header a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.navbar .logo{
    font-size: 2rem;
    font-weight: bold;
}

.navbar .logo:hover{
    color: #9ED8DB;
}

.navbar .nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}

.navbar .nav-menu .nav-link{
    transition: 0.5s ease;
}

.navbar .nav-menu .nav-link:hover{
    color: #9ED8DB;
}

.navbar .hamburguer{
    display: none;
    cursor: pointer;
}

.navbar .hamburguer .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

@media(max-width:1188px){
    .navbar .hamburguer{
        display: block;
    }
    .navbar .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .navbar .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #197BBD;
        text-align: center;
        flex-direction: column;
        width: 100%;
        z-index: 10;
        transition: 0.3s;
    }
    .navbar .nav-menu .nav-item{
        margin: 16px 0;
    }
    .navbar .nav-menu.active{
        left: 0;
    }
}

header .popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index:10;
}

header .popup .popup-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .popup .popup-content h2{
    color: #197BBD;
}

header .popup .popup-content .close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

header .popup .popup-content .row{
    display: flex;
    flex-direction: row;
}

header .popup .popup-content .column{
    display: flex;
    flex-direction: column;
}

header .popup .popup-content .row .column a{
    color: #197BBD;
}

header .popup .popup-content .row .column a:hover{
    color: #0d009c;
}

header .popup .popup-content .row .column .link {
    margin: 5px;
}

/*------------------------------estilos footer------------------------------*/
.footer{
	background-color: #197BBD;
    padding: 70px 0;
}

.footer .container-footer{
	max-width: 1170px;
	margin:auto;
}

.footer .container-footer .row{
	display: flex;
	flex-wrap: wrap;
}

.footer .container-footer .row .footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer .container-footer .row .footer-col h4{
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer .container-footer .row .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer .container-footer .row .footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer .container-footer .row .footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
}

.footer .container-footer .row .footer-col ul li a:hover{
	color: #9ED8DB;
	padding-left: 8px;
}

.footer .container-footer .row .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer .container-footer .row .footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
    .footer .container-footer .row .footer-col{
    width: 50%;
    margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer .container-footer .row .footer-col{
    width: 100%;
   }
}

/*------------------------------estilos formulário ------------------------------ */
.container-form{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.container-form .card-form {
    background-color: #EDEDED;
    padding: 30px;
    border: 1px solid #000;
    border-radius: 4%;
    width: 400px;
}

.container-form .card-form h1{
    text-align: center;
    margin-bottom: 20px;
    color: #197BBD;
}

.container-form .card-form h3{
    text-align: center;
    margin-bottom: 20px;
    color: #197BBD;
}

.container-form .card-form .label-float label{
    color: blue;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.container-form .card-form .label-float input:focus + label,
.container-form .card-form .label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color:blue;
}

.container-form .card-form .label-float input:focus{
    border-bottom: 2px solid blue;
}

.container-form .card-form .label-float label{
    color: blue;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.container-form .card-form .label-float,.container-form .card-form .label-float-constante{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-form .card-form .label-float-constante label{
    color: blue;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    font-size: 13px;
}

.container-form .card-form .label-float input,.container-form .card-form .label-float-constante input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid blue;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    
}

.container-form .card-form .justify-center{
    display: flex;
    justify-content: center;
}

.container-form .card-form .justify-center hr{
    color: #197BBD;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;

}

.container-form .card-form .linha-mensagem p{
    color: #000;
    font-size: 14pt;
    text-align: center;
}

.container-form .card-form .linha-mensagem a{
    color: #0d009c;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
}

.container-form .card-form .linha-mensagem a:hover{
    color: #579ece;
}

.container-form .card-form .erro{
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.container-form .card-form select{
    width: 100%;
    padding:5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid blue;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    color: blue;
}

.container-form .card-form button{
    background-color: transparent;
    border-color: #197BBD;
    color: #197BBD;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
} 

.container-form .card-form button:hover{
    background-color: #197BBD;
    color: #fff;
}

.container-form .card-form .btn-loading{
    display: none;
}

/*------------------------------estilos mensagens------------------------------ */
.mensagem_rapida{
    position: fixed;
    z-index: 5;
    top: 75px;
    right: 30px;
    background-color: rgb(48, 71, 216);
    color: white;
    padding: 10px;
    box-sizing: border-box;
}
@media (max-width: 600px) {
    .mensagem_rapida {
      text-align: center;
    }
}

.mensagem_rapida .btn-x{
  background:none;
  border: none;
  color: white;
  cursor: pointer;
}

.mensagem_rapida .btn-x:hover{
  color: #000;
}

/*------------------------------estilos ícones------------------------------ */
.fa-eye,
.fa-eye-slash{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #0d009c;
}

.fa-eye:hover,
.fa-eye-slash:hover{
    color: blue;
}

#loading {
    font-size: 12pt;
    color: #197BBD;
    animation: gira_icon 2s linear infinite;
}

@keyframes gira_icon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*------------------------------estilos tabelas------------------------------ */
.container-tabela{
    display: flex;
    justify-content: column;
    align-items: center;
    overflow-x: auto;
}

.container-tabela table{
    width: 100%;
    border-collapse: collapse;
}

.container-tabela table caption{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 20px;
}

.container-tabela table caption .pesquisa-tabela{
    float: right;
    border-radius: 40px;
    padding: 10px;
    background-color: #197BBD;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-tabela table caption .pesquisa-tabela button{
    background: #197BBD;
    border-radius: 50%;
    outline: none;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.container-tabela table caption .pesquisa-tabela input{
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}

.container-tabela table caption .pesquisa-tabela input::placeholder{
    color: white;
}

.container-tabela table caption .pesquisa-tabela:hover input {
    width: 240px;
    padding: 0 6px;
}

.container-tabela table caption .pesquisa-tabela:hover button {
    background: #fff;
}

.container-tabela table caption .btn-voltar{
    float: left;
    background: #197BBD;
    border-radius: 10%;
    height: 40px;
    width: 60px;
    margin-top: 20px;
}

.container-tabela table caption .btn-voltar:hover{
    background: #579ece;
    color: #fff;
}

.container-tabela table thead tr{
    background-color: #197BBD;
}

.container-tabela table tbody tr:nth-child(even){
    background-color: #85b3d2;
}

.container-tabela table th, .container-tabela table td{
    border: 1px solid black;
    padding: 10px;
    position: relative;
}

.container-tabela table tr{
    background-color: #fff;
}

.container-tabela table tbody .editar_apagar{
    color: #0d009c;
}

.container-tabela table tbody .editar_apagar:hover{
    color: #000;
}
/*------------------------------estilos------------------------------ */
/*------------------------------estilos------------------------------ */
/*------------------------------estilos------------------------------ */
/*------------------------------estilos------------------------------ */