*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
header{
    background-color:#197BBD;
}
li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
 /* inicio navbar */
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.logo:hover{
    color: #9ED8DB;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: #9ED8DB;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

@media(max-width:1188px){
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #197BBD;
        text-align: center;
        flex-direction: column;
        width: 100%;
        z-index: 1;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}
 /* fim navbar */

/* inicio main */
main{
    margin-bottom: 50px;
}
.container-form{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.card-form {
    background-color: #EDEDED;
    padding: 30px;
    border: 1px solid #000;
    border-radius: 4%;
    width: 400px;
}
.container-form .card-form h1{
    text-align: center;
    margin-bottom: 20px;
    color: #197BBD;
}
.label-float input,.label-float-constante input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid blue;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    
}
.label-float,.label-float-constante{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.label-float input:focus{
    border-bottom: 2px solid blue;
}
  
.label-float label{
    color: blue;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}
select{
    width: 100%;
    padding:5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid blue;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    color: blue;
}
.label-float-constante label{
    color: blue;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    font-size: 13px;
}
  
.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color:blue;
}
.container-form .card-form button{
    background-color: transparent;
    border-color: #197BBD;
    color: #197BBD;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}  
.container-form .card-form button:hover{
    background-color: #197BBD;
    color: #fff;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.fa-eye,
.fa-eye-slash{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #0d009c;
}
.fa-eye:hover,
.fa-eye-slash:hover{
    color: blue;
}
  
#loading {
    font-size: 12pt;
    color: #197BBD;
    animation: giraicon 2s linear infinite;
}
@keyframes giraicon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.btn-loading{
    display: none;
}
.lista-dias{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dias-esquerda,.dias-direita{
    width: 100px;
    height: 100px;
}
.dias-esquerda,.dias-direita label{
    color: blue;
}
.texto-dia{
    color: blue;
}

section#inicio {
    position: relative;
    background-image: url(../static/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
s ection#inicio .conteudo {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 40px;
}
section#inicio .icone {
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: white;
    font-size: 40px;
}
.card-info{
    margin-top: 40px;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: justify;
    background-color: #f0f0f0;
}
.erro{
    display: inline-block;
    background-color: red; 
    padding: 10px; 
}

table{
    width: 70%;
    border-collapse: collapse;
}
caption{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 20px;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}
tr{
    background-color: #fff;
}
tr:nth-child(even){
    background-color: #85b3d2;
}
.container-tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
#cabecalho-tabela{
    background-color: #197BBD;
}
.btn-tabela{
    width: 60px;
    height: 20px;
    border-radius: 5px;
    background-color: #579ece;
    color: #fff;
}
.btn-tabela:hover{
    background-color: #197BBD;
}
.pesquisa-tabela{
    float: right;
    border-radius: 40px;
    padding: 10px;
    background-color: #197BBD;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.pesquisa-tabela button{
    background: #197BBD;
    border-radius: 50%;
    outline: none;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.pesquisa-tabela input{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}
.pesquisa-tabela input::placeholder{
    color: white;
}
.pesquisa-tabela:hover input {
    width: 240px;
    padding: 0 6px;
}
.pesquisa-tabela:hover button {
    background: #fff;
}
.btn-voltar{
    float: left;
    background: #197BBD;
    border-radius: 10%;
    height: 40px;
    width: 60px;
    margin-top: 20px;
}
.btn-voltar:hover{
    background: #579ece;
    color: #fff;
}

/* fim main */

/* inicio footer */
.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #197BBD;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #9ED8DB;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    }
}
/* fim footer */