<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/favicon.png" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="../static/style.css">
    <title>MyStudyAgenda</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a class="logo" href="">MyStudyAgenda</a> 
            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link" href="">Cadastro Materia</a></li>
                <li class="nav-item"><a class="nav-link" href="">Cadastro Evento</a></li>
                <li class="nav-item"><a class="nav-link" href="">Cadastro Atividade</a></li>
                <li class="nav-item"><a class="nav-link" href="">Consulta</a></li>
                <li class="nav-item"><a class="nav-link" href="">Editar Conta</a></li>
                <li class="nav-item"><a class="nav-link" href="">Sair</a></li>
            </ul>
            <div class="hamburguer">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        <div class="agenda">
            <table>
                <caption>
                    <h2>agenda Semanal</h2>
                </caption>
                <thead>
                    <tr id="cabecalho-tabela">
                        <th>****</th>
                        <th>segunda-feira</th>
                        <th>terça-feira</th>
                        <th>quarta-feira</th>
                        <th>quinta-feira</th>
                        <th>sexta-feira</th>
                        <th>sabado</th>
                        <th>domingo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="linha_agenda">
                        <th>5:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>6:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>7:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>8:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>9:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>10:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>11:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>12:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>13:00</th>
                        <th class="materia">introdução
                            <div class="description">João é hhhhhhhhum funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>14:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>15:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>16:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>17:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>18:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>19:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>20:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>21:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>22:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>23:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                    <tr class="linha_agenda">
                        <th>00:00</th>
                        <th class="materia">introdução
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="atividade">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="tarefa">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th class="evento">---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                        <th>---
                            <div class="description">João é um funcionário dedicado.</div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </main>
    <footer class="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-col">
                    <h4>Projeto</h4>
                    <ul class="lista_footer">
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Seviços</a></li>
                        <li><a href="#">privacidade</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contato</h4>
                    <ul>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Funcionalidades</h4>
                    <ul>
                        <li><a href="#">Cadastro Atividade </a></li>
                        <li><a href="#">Cadastro Evento</a></li>
                        <li><a href="#">Cadastro Materia</a></li>
                        <li><a href="#">Consulta</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    <script src="../static/navbar.js"></script>
</body>
</html>