<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Title</title>
</head>
<body>
    <div class="container-form">
        <div class="card-form">
            <h1>tipos de listagem</h1>
            <div class="tipos-esquerda">
                <a href="/listagem_materia">materias</a>
                <a href="/listagem_evento">eventos</a>
                <a href="/listagem_atividade">atividades</a>
            </div>
            <div class=" tipos-direita">
                <a href="/listagem_tarefa">tarefas</a>
                <a href="">agenta mensal</a>
                <a href="">agenda semanal</a>
            </div>
        </div>
    </div>
</body>
</html>