<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/favicon.png" >
    <title>MyStudyAgenda</title>
</head>
<body>
    <main>
        <div class="container-form">
            <div class="card-form">
                <a href="/cliente"><h1>MyStudyAgenda</h1></a>
                <h3>Tipos de Listagem</h3>
                <div class="container-tipo">
                    <div class="tipos-esquerda">
                        <ul>
                            <li><a href="/listagem_materia">Materias</a></li>
                            <li><a href="/listagem_evento">Eventos</a></li>
                            <li><a href="/listagem_atividade">Atividades</a></li>
                        </ul>
                    </div>
                    <div class=" tipos-direita">
                        <ul>
                            <li><a href="/listagem_tarefa">Tarefas</a></li>
                            <li><a href="">Agenta mensal</a></li>
                            <li><a href="">Agenda semanal</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
    
</body>
</html>