<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/favicon.png" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="../static/style.css">
    <title>MyStudyAgenda</title>
</head>
<body>

    <header class="header">
        <nav class="navbar">
            <a class="logo" href="">MyStudyAgenda</a> 
            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link" href="/cadastro_conta">Cadastrar Conta</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
            <div class="hamburguer">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <br>

    <main>
        <div class="inicio">
            <h1>MyStudyAgenda</h1>
            <div class="icone">
                <a href="#sobre"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
            </div>
        </div>
        
        <br>
        
        <div class="sobre" id="sobre">
            <div class="sobre_informacoes">
                <h1>Sobre</h1>
                <br>
                <h3>MyStudyAgenda: Simplificando sua Jornada Acadêmica</h3>
                <br>
                <P>     
                    MyStudyAgenda é uma solução moderna e completa que visa atender às complexas demandas da vida acadêmica. Desenvolvida para se integrar perfeitamente ao ritmo de estudos, a agenda oferece uma plataforma digital intuitiva e personalizável que permite aos estudantes enfrentar os desafios acadêmicos com confiança.
                </P>
            </div>
        </div>
    </main>
    
    <footer class="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-col">
                    <h4>Projeto</h4>
                    <ul class="lista_footer">
                        <li><a href="#sobre">Sobre</a></li>
                        <li><a href="#servicos">Seviços</a></li>
                        <li><a href="#privacidade">privacidade</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contato</h4>
                    <ul>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Funcionalidades</h4>
                    <ul>
                        <li><a href="/cadastro_atividades">Cadastro Atividade </a></li>
                        <li><a href="/cadastro_eventos">Cadastro Evento</a></li>
                        <li><a href="/cadastro_materias">Cadastro Materia</a></li>
                        <li><a href="/cliente">Consulta</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Siga-nos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>

   <script src="../static/mensagens.js"></script>
   <script src="../static/mostraSenha.js"></script>
   <script src="../static/mostraTelas.js"></script>
   <script src="../static/navbar.js"></script>
   <script src="../static/valiadaFormulario.js"></script>
   <script src="../static/validacao_funcoes.js"></script>
</body>
</html>