<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/favicon.png" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="../static/style.css">
    <title>MyStudyAgenda</title>
</head>
<body>

    <header class="header">
        <nav class="navbar">
            <a class="logo" href="">MyStudyAgenda</a> 
            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link" href="/cadastro_conta">Cadastrar Conta</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
            <div class="hamburguer">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main>
        <section class="inicio" id="inicio">
            <div class="conteudo">
                <h1>MyStudyAgenda</h1>
            </div>
            <div class="icone">
                <a href="#sobre"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
            </div>
        </section>

        <section class="card-info" id="sobre">
            <div class="justify-center">
                <h2>Sobre</h2>
            </div>
            <div class="justify-center">
                <h3>MyStudyAgenda: Simplificando sua Jornada Acadêmica</h3>
            </div>
            <p>
                MyStudyAgenda é uma solução moderna e completa que visa atender às complexas demandas da vida acadêmica. Desenvolvida para se integrar perfeitamente ao ritmo de estudos, a agenda oferece uma plataforma digital intuitiva e personalizável que permite aos estudantes enfrentar os desafios acadêmicos com confiança.
            </p>
            <div class="justify-center">
                <h4> Recursos Destacados</h4>
            </div>
            <ul>
                <li>
                    <p><strong>Agendamento Inteligente:</strong> A agenda eletrônica oferece a capacidade de criar e gerenciar compromissos, aulas, grupos de estudo, eventos sociais e outros compromissos relevantes. O sistema de agendamento inteligente permite visualizar todos os eventos em uma interface única e clara, garantindo que nada seja esquecido.</p>
                </li>
                <br>
                <li>
                    <p>
                        <strong>Lembretes Personalizados:</strong> Receba lembretes e notificações automáticas sobre próximos prazos, tarefas e eventos. Personalize os lembretes de acordo com suas preferências para nunca mais perder uma data importante.
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        <strong>Organização de Tarefas:</strong> Crie listas de tarefas para acompanhar suas atribuições, projetos e atividades extracurriculares. Atribua prioridades e datas de vencimento para manter suas responsabilidades sob controle.
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        <strong>Integração com Calendários Acadêmicos:</strong> Sincronize facilmente a agenda eletrônica com os calendários acadêmicos da universidade, importando as datas de feriados, recessos e períodos de exames entre outros.
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        <strong>Gerenciamento de Notas:</strong> Registre suas notas e avaliações diretamente na agenda, mantendo um histórico acadêmico detalhado e permitindo o acompanhamento do seu desempenho ao longo do tempo.
                    </p>
                </li>
                <br>
                <li>
                    <p>
                        <strong>Colaboração e Grupos de Estudo:</strong> Crie grupos de estudo, compartilhe horários e recursos com colegas de classe e coordene atividades acadêmicas de forma colaborativa.
                    </p>
                </li>
            </ul>
        </section>

        <section class="card-info" id="servicos">
            <div class="justify-center">
                <h2>Serviços</h2>
            </div>
            <div class="justify-center">
                <h3>cadastros</h3>
            </div>
            <p>
                Para aproveitar nossos serviços, é necessário criar uma conta. Após o registro, você poderá imediatamente cadastrar suas matérias, eventos, atividades e tarefas, facilitando a organização e o gerenciamento de sua vida acadêmica.
            </p>
            <div class="justify-center">
                <h3>consulta</h3>
            </div>
            <p>
                Na tela inicial, você terá acesso à função de consulta, que permite visualizar suas matérias, atividades, eventos e tarefas. Essas informações podem ser exibidas tanto no formato de tabela quanto no formato de calendário, proporcionando flexibilidade na forma como você deseja acompanhar sua agenda acadêmica.
            </p>
            <div class="justify-center">
                <h3>Notifições</h3>
            </div>
            <p>
                Com a sua conta devidamente criada, você poderá usufruir das notificações internas e externas que estão habilitadas. Isso significa que, nos dias de início e término de atividades, eventos e tarefas, você receberá alertas por e-mail, além de notificações diretas no próprio site, mantendo-o sempre informado.
            </p>
        </section>

        <section class="card-info" id="privacidade">
            <div class="justify-center">
                <h2>Privacidade</h2>
            </div>
            <p>
                Todas as informações fornecidas são armazenadas em um banco de dados seguro, com acesso exclusivo por meio de nosso site. Isso garante a confidencialidade e a proteção dos seus dados, mantendo suas informações pessoais e acadêmicas em um ambiente controlado e seguro.
            </p>
        </section>
    </main>

    <footer class="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-col">
                    <h4>Projeto</h4>
                    <ul class="lista_footer">
                        <li><a href="#sobre">Sobre</a></li>
                        <li><a href="#servicos">Seviços</a></li>
                        <li><a href="#privacidade">privacidade</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contato</h4>
                    <ul>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Funcionalidades</h4>
                    <ul>
                        <li><a href="#">Cadastro Atividade </a></li>
                        <li><a href="#">Cadastro Evento</a></li>
                        <li><a href="#">Cadastro Materia</a></li>
                        <li><a href="#">Consulta</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Siga-nos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>

    <script src="../static/navbar.js"></script>
</body>
</html>