{% extends 'base.html' %}
{% block conteudo %}
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id="alerta" class="mensagem-alerta">
                        <p>
                            <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                            {{ message }}
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container-tabela">
            <table>
                <caption>
                    <h2>listagem de materias</h2>
                    <div class="pesquisa-tabela">
                        <form action="" method="post">
                            <input type="checkbox" name="antigos" id="antigos">
                            <input type="text" class="pesquisa-txt" placeholder="pesquisar" name="pesquisa" id="pesquisa">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <button class="btn-voltar"><a href="/consulta">voltar</a></button>
                </caption>
                <thead>
                    <tr id="cabecalho-tabela">
                        <th>Nome</th>
                        <th>Data de inicio</th>
                        <th>Data de termino</th>
                        <th>N° Creditos</th>
                        <th>Nota</th>
                        <th>Observacao</th>
                        <th>Dias</th>
                        <th>Horario</th>
                        <th>Estado</th>
                        <th>Editar</th>
                        <th>Apagar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for materia in materias %}
                        <tr>
                            <th>{{materia.nome}}</th>
                            <th>{{materia.inicio}}</th>
                            <th>{{materia.fim}}</th>
                            <th>{{materia.creditos}}</th>
                            <th>{{materia.nota}}</th>
                            <th>{{materia.observacao}}</th>
                            <th>{{materia.dias}}</th>
                            <th>{{materia.horario}}</th>
                            <th>{{materia.estado}}</th>
                            <th><a  href="/modifica_materia/{{materia.idMateria}}" class="editar_apagar">Editar</a></th>
                            <th><a  href="/listagem_materia/{{materia.idMateria}}" class="editar_apagar">Apagar</a></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if materia != undefined %}
            <div class="apagar_registros">
            <div class="card_confirmação">
                <a href="/listagem_materia" id="fechar"><i class="fa fa-times" aria-hidden="true"></i></a>
                <h2>Confirmação</h2>
                <hr>
                <p>Deseja realmente apagar a materia: {{materia.nome}}</p>
                <div id="btns_apagar_registros">
                    <a class="btn_cancelar_registros" href="/listagem_materia">Cancelar</a>
                    <a class="btn_apagar_registros" href="/apagar_materia/{{materia.idMateria}}">Apagar</a>
                </div>
            </div>
        </div>
        {% endif %}
    </main>
{% endblock %}