{% extends 'base.html' %}
{% block conteudo %}
    <main>
        <div class="container-tabela">
            <table>
                <caption>
                    <h2>Listagem de Tarefas</h2>
                    <div class="pesquisa-tabela">
                        <form action="/listagem_tarefa" method="post">
                            <input type="checkbox" name="antigos" id="antigos">
                            <input type="text" class="pesquisa-txt" placeholder="pesquisar">
                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                     <button class="btn-voltar"><a href="/consulta">voltar</a></button>
                </caption>
                <thead>
                    <tr id="cabecalho-tabela">
                        <th>Nome</th>
                        <th>Inicio</th>
                        <th>Fim</th>
                        <th>horario</th>
                        <th>lugar</th>
                        <th>Estado</th>
                        <th>Observacao</th>
                        <th>tipo</th>
                        <th>Editar</th>
                        <th>Apagar</th>
                    </tr>
                </thead>
                <tbody>
                    {% if tarefas == None %}
                        <tr>
                            <th><p>Sem registro</p></th>
                            <th><p>Sem registro</p></th>
                            <th><p>Sem registro</p></th>
                            <th><p>Sem registro</p></th>
                            <th><p>Sem registro</p></th>
                            <th><p>Sem registro</p></th>
                            <th><p>Sem registro</p></th>
                            <th><p>Sem registro</p></th>
                            <th><p>Sem registro</p></th>
                            <th><p>Sem registro</p></th>
                        </tr>
                    {% else %}
                        {% for tarefa in tarefas %}
                            <tr>
                                <th>{{tarefa.nome}}</th>
                                <th>{{tarefa.inicio}}</th>
                                <th>{{tarefa.fim}}</th>
                                <th>{{tarefa.horario}}</th>
                                <th>{{tarefa.lugar}}</th>
                                <th>{{tarefa.estado}}</th>
                                <th>{{tarefa.observacao}}</th>
                                <th>{{tarefa.tipo}}</th>
                                <th><a href="/modifica_tarefa/{{tarefa.idTarefa}}" class="editar_apagar">Editar</a></th>
                                <th><a href="/listagem_tarefa/{{tarefa.idTarefa}}" class="editar_apagar">Apagar</a></th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        {% if dados != undefined %}
            <div class="apagar_registros" id="confirmacao_card">
                <div class="card_confirmação">
                    <button id="fechar" onclick="tira_confirmação()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h2>Confirmação</h2>
                    <hr>
                    <p>Deseja realmente apagar a tarefa: {{dados.nome}}</p>
                    <div class="btns_apagar_registros">
                        <button class="btn_cancelar_registros" onclick="tira_confirmação()">Cancelar</button>
                        <a class="btn_apagar_registros" href="/apagar_tarefa/{{dados.idTarefa}}">Apagar</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}