{% extends 'base.html' %}
{% block conteudo %}
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id="alerta" class="mensagem-alerta">
                        <p>
                            <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                            {{ message }}
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container-tabela">
            <table>
                <caption>
                    <h2>listagem de Atividade</h2>
                    <div class="pesquisa-tabela">
                        <form action="">
                            <input type="text" class="pesquisa-txt" placeholder="pesquisar">
                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                     <button class="btn-voltar"><a href="/consulta">voltar</a></button>
                </caption>
                <thead>
                    <tr id="cabecalho-tabela">
                        <th>Nome</th>
                        <th>Inicio</th>
                        <th>Fim</th>
                        <th>Nota</th>
                        <th>Observacao</th>
                        <th>Estado</th>
                        <th>Horario</th>
                        <th>Lugar</th>
                        <th>Materia</th>
                        <th>Editar</th>
                        <th>Apagar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atividade in atividades %}
                        <tr>
                            <th>{{atividade.nome}}</th>
                            <th>{{atividade.inicio}}</th>
                            <th>{{atividade.fim}}</th>
                            <th>{{atividade.nota}}</th>
                            <th>{{atividade.observacao}}</th>
                            <th>{{atividade.estado}}</th>
                            <th>{{atividade.horario}}</th>
                            <th>{{atividade.lugar}}</th>
                            <th>{{atividade.nomeMateria}}</th>
                            <th><a href="">Editar</a></th>
                            <th><a href="">Apagar</a></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}