{% extends 'base.html' %}
{% block conteudo %}
    <main>
        <form action="/modifica_atividade" method="post" class="container-form">
            <div class="card-form">
                <h1>Modifica Atividade</h1>
                <div class="label-float">
                    <input type="text" id="nome" name="nome" oninput="validaNome()" value="{{atividade.nome}}" required>
                    <label for="nome" id="labelNome">Nome</label>
                </div>
                <div class="label-float-constante">
                    <input type="date" id="inicio" name="inicio" oninput="validaInicio()" value="2023-02-01" required>
                    <label for="inicio" id="labelInicio">Data de Inicio</label>
                </div>
                <div class="label-float-constante">
                    <input type="date" id="fim" name="fim" oninput="validaFim()" value="2023-02-01" required>
                    <label for="fim" id="labelFim">Data do Termino</label>
                </div>
                <div>
                    <p class="justify-center">Exibir atividade ao longo do período.</p>
                    <br>
                    <div class="justify-center">
                        {%  if atividade.intervalo == True %}
                            <input type="checkbox" checked>
                        {% else %}
                            <input type="checkbox">
                        {% endif %}
                    </div>
                </div>
                <div class="label-float-constante">
                    <input type="time" id="horario" name="horario" oninput="validaHorario()" value="22:30" required>
                    <label for="horario" id="labelHorario">Horario</label>
                </div>
                <div class="label-float">
                    <input type="number" step="0.01" id="nota_atividade" name="nota_atividade" oninput="validaNota()" value="{{atividade.nota}}" required>
                    <label for="nota_atividade" id="labelNotaAtividade">Nota da Atividadde </label>
                </div>
                <div class="label-float">
                    <input type="number" step="0.01" id="nota" name="nota" value="{{atividade.nota}}" required>
                    <label for="nota" id="labelNotas">Nota obtida </label>
                </div>
                <br>
                <div>
                    <select id="materia" name="materia" required>
                        <option value="{{atividade.materia}}">{{atividade.materia}}</option>
                        {% for materia in materias%}
                            {% if atividade.materia != materia.nome %}
                                <option value={{materia.nome}}>{{materia.nome}}</option>
                            {% endif %}
                        {%endfor%}
                    </select>
                </div>
                <br>
                <div class="label-float">
                    <input type="text" id="observacao" name="observacao" oninput="validaObservacao()" required value="{{materia.observacao}}">
                    <label for="observacao" id="labelObservacao">Observação</label>
                </div>
                <div class="justify-center">
                    <button class="btn-cadastrar" id="btn-cadastrar" name="btn-cadastrar" type="submit" onclick="trocarBotao()">Modificar</button>
                    <button class="btn-loading" id="btn-loading" name="btn-loading"><i class="fa fa-spinner" aria-hidden="true" id="loading"></i>Modificando</button>
                </div>
            </div>
        </form>
    </main>
{% endblock %}